/* Reset */
/* heavingly inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* End of Reset */

body {
  width: 80%;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
}

header,
footer {
  text-align: center;
  grid-column: 1 / -1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container > * {
  border: 1px solid black;
}
